
	<%- include('./partials/header.ejs', {cs: 'contact'})%>
	<main>

		<h1 id="welcome">Welcome to Premier League  Fan Connections Site.</h1>
		<h3>Contact Us At:</h3>
		<p id="email"><strong>Admin Email:&nbsp;</strong><a href="mailto:qho2@uncc.edu">qho2@uncc.edu</a></p>
		<p id="facebook"><strong>FaceBook:&nbsp;</strong><a href="">premierleaguefans.facebook.com</a></p>
		<p id="linkedin"><strong>Linkedin: &nbsp;</strong><a href="">premierleaguefans.linkedin.com</a></p>
		
	</main>
	<%- include('./partials/footer.ejs')%>
	
	
	
</body>
</html>