
<%- include('./partials/header.ejs', {cs: 'index'})%>
	<main>

		<p id="introduction">Welcome to Premier League  Fan Connections Site.
			<br>
			Hot, and latest soccer topics and news from all Primier League top teams ....
			<br>
			Check the Connections section to browse available connections!
		</p>
		
	</main>
	<%- include('./partials/footer.ejs')%>
	
	
	
</body>
</html>