<%- include('./partials/header.ejs')%>
  
    <div>
        <h3>This is landing page</h3> 
        <p>Welcome to NinerUnite Website. Sell more used books to free your home space.</p>
    </div>

    <%- include('./partials/footer.ejs')%>