<%- include('./partials/header.ejs', {cs: 'landingpageStyle'})%>
	

<!--content area-->
<main>

    <!--section 1-->
            <div class=" container-fluid p-5">
                <div class="row text-center">
        
                    <!--
                        col-md changes rows into columns by a certain screensize, d-flex and flex-column work to
                        present <h1> and <p> as columns and justify-content-center centers everything in space
                    -->
                    <div class="col-md-4 p-2 d-flex flex-column justify-content-center">
                        <h1 >By Niners, For Niners</h1>
                        <p >NinerUnite is the best peer-to-peer marketplace for UNC Charlotte students.</p>
                    </div>
                    <div class="col-md-8 p-2 d-flex justify-content-center">
                    <!--img-fluid makes the images responsive by dynamically adjusting with parent-->
                        <!-- <img class="w-75 img-fluid" src="../pexels-monstera-6238120.jpg" alt="group_of_students_with_books"> -->
                    </div>
                    
                </div>
            </div>
        
            <!--section 2-->
            <div class="bg-secondary container-fluid text-white p-5 text-center">
                <div class="row text-center">
    
                    <div class="col-md-4 d-flex justify-content-center">
                        <img class="w-75 img-fluid d-sm-block size" src="/images/image1.jpg" alt="group_of_students_with_books">
                    </div>
                    <div class="col-md-4 p-2 d-flex flex-column justify-content-center text-wrap">
                        <h1>About Us</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque reiciendis laboriosam natus, nesciunt, aliquid molestiae ipsam ab quo quod tenetur tempore necessitatibus optio voluptatum ad doloribus soluta eligendi excepturi deserunt.</p>
                    </div>
                    
                </div>
            </div>
    
            <!--section 3-->
            <div class="container-fluid p-5">
    
    
                <div class="text-center">
                    <h1>Haven't become a member?</h1>
                    <a class="btn btn-warning m-3 " href="/users/signup" id="signup">Sign Up</a>
                </div>
    
            </div>
    
    </main>

    <%- include('./partials/footer.ejs')%>

    


