.green {
    background-color: #005035;
}


/* .navbar-color {
    background-color:#005035;
} */


/* .brand-font {
    font-family: 'Bebas Neue', cursive;
} */

.green_hover:hover {
    background-color: #026342;
}

.yellow {
    background-color: #928403;
}

.yellow:hover {
    background-color: #cebb16;
}

.personal_space {
    margin: 20px;
}