<%- include('../partials/header.ejs', {cs: 'listStyle'})%>

    <div class="container p-3">
        <h1>Book List</h1>
        <br>
        <%if(books.length){ %>

            <table class="table">
                <tr>
                    <th scope="col">Book Title</th>
                </tr>

            <tbody>
            <%books.forEach(book=>{%>
                <tr>
                    <td class="select listItem">
                        <a  href="/books/<%=book.id%>"><p><%= book.title %></p></a>
                    </td>
                </tr>
            <% }); %>

            </tbody>
            </table>
            
            <%} else {%>
            <h2>There are no books to display</h2>
        <%} %>
    </div>

<%- include('../partials/footer.ejs')%>