<%- include('../partials/header.ejs', {cs: 'new_textbook'})%>

    <!--Beginning of page -->

    <h2 class="text-center mt-5">Sell Books</h2>

    <!-- Receiving the Textbook -->
    <div class="justify-content-center m-5">
        <form class="rounded form m-5 p-5" action='/books' method='POST'>
            <table>
                <!-- Change to technology here -->
                <td>
                    <p><b>Type:</b></p>
                </td>
                <td><button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Book
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/NinerUnite/Sprint-2/views/textbook/new.ejs">Textbooks Store</a>
                        <a class="dropdown-item" href="/NinerUnite/Sprint-2/views/tech/new.ejs">Technology Store</a>
                        <a class="dropdown-item" href="#">Dorm Posting</a>
                    </div>
                </td>
                </tr>
                <!-- Rest of form -->
                <tr>
                    <td><label for="title" class="fw-bold">Title:</label></td>
                    <td><input class="align-middle p-3 mb-2 bg-light text-dark border-0 w-100" type="text" id="title"
                            name="title" placeholder="Ex: Computer Organization and Design RISC-V Edition"></td>
                </tr>
                <tr>
                    <td><label for="author" class="fw-bold">Author:</label></td>
                    <td><input class="align-middle p-3 mb-2 bg-light text-dark border-0 w-100" type="text" id="author"
                            name="author" placeholder="Ex: David Patterson, John Hennessy"></td>
                </tr>
                <tr>
                    <td><label for="isbn" class="fw-bold">ISBN:</label></td>
                    <td><input class="align-middle p-3 mb-2 bg-light text-dark border-0 w-100" type="text" id="isbn"
                            name="isbn" placeholder="Ex: 9780128122761"></td>
                </tr>
                <tr>
                    <td><label for="condition" class="fw-bold">Condition:</label></td>
                    <td><textarea class="align-middle p-3 mb-2 bg-light text-dark border-0 w-100" id="condition"
                            name="condition" placeholder="Ex: Pages 120-136 are missing, my dog ate them."></textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="price" class="fw-bold">Price:</label></td>
                    <td><input class="align-middle p-3 mb-2 bg-light text-dark border-0 w-100" type="text" id="price"
                            name="price" placeholder="Ex: 1,2,50,100"></input></td>
                </tr>
                <!-- Add an image -->
                <tr>
                    <td class="fw-bold">Image:</td>
                    <td><input class="p-2" type="file" id="file" name="filename"></td>
                </tr>
            </table><br><br>
            <!-- <input class="btn position-absolute bottom-0 end-0 text-end bg-success green text-white border-0 green_hover" type="submit" value="Submit"> -->
            <div class="text-end">
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>
    <!-- End of page -->

<%- include('../partials/footer.ejs')%>