<%- include('../partials/header.ejs', {cs: 'new_textbook'})%>

    <!--Beginning of page -->

    <!-- <h2 class="text-center mt-5">NEW POST</h2> -->

    <!-- Receiving the Textbook -->
    <!-- <div class="container my-5">
        <form class="rounded form m-5 p-5" action='/books' method='POST'>
            <table class="container w-75"> -->
                <!-- Change to technology here -->
                <!-- <td>
                    <p><b>Type:</b></p>
                </td>
                <td><button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Book
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/NinerUnite/Sprint-2/views/textbook/new.ejs">Textbooks Store</a>
                        <a class="dropdown-item" href="/NinerUnite/Sprint-2/views/tech/new.ejs">Technology Store</a>
                        <a class="dropdown-item" href="#">Dorm Posting</a>
                    </div>
                </td>
                </tr> -->
                <!-- Rest of form -->
                <!-- <tr>
                    <td><label for="title" class="fw-bold">Title:</label></td>
                    <td><input class="rounded align-middle p-3 mb-2 bg-light text-dark border-0 w-100" type="text" id="title"
                            name="title" placeholder="Ex: Computer Organization and Design RISC-V Edition"></td>
                </tr>
                <tr>
                    <td><label for="author" class="fw-bold">Author:</label></td>
                    <td><input class="rounded align-middle p-3 mb-2 bg-light text-dark border-0 w-100" type="text" id="author"
                            name="author" placeholder="Ex: David Patterson, John Hennessy"></td>
                </tr> -->
                <!-- <tr>
                    <td><label for="isbn" class="fw-bold">ISBN:</label></td>
                    <td><input class="rounded align-middle p-3 mb-2 bg-light text-dark border-0 w-100" type="text" id="isbn"
                            name="isbn" placeholder="Ex: 9780128122761"></td>
                </tr>
                <tr>
                    <td><label for="condition" class="fw-bold">Condition:</label></td>
                    <td><textarea class="rounded align-middle p-3 mb-2 bg-light text-dark border-0 w-100" id="condition"
                            name="condition" placeholder="Ex: Pages 120-136 are missing, my dog ate them."></textarea>
                    </td>
                </tr>
                <tr>
                    <td><label for="price" class="fw-bold">Price:</label></td>
                    <td><input class="rounded align-middle p-3 mb-2 bg-light text-dark border-0 w-100" type="text" id="price"
                            name="price" placeholder="Ex: 1,2,50,100"></input></td>
                </tr> -->
                <!-- Add an image -->
                <!-- <tr>
                    <td class="fw-bold">Image:</td>
                    <td><input class="p-2" type="file" id="file" name="filename"></td>
                </tr>
            </table><br><br> -->
            <!-- <input class="btn position-absolute bottom-0 end-0 text-end bg-success green text-white border-0 green_hover" type="submit" value="Submit"> -->
            <!-- <div class="text-end">
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div> -->
    <!-- End of page -->



<!--Responsive form-->
<!--Beginning of page-->
<h2 class="text-center mt-5">NEW BOOK</h2>

<div class="container my-5">

    <form class="rounded form m-3 p-3" action='/books' enctype="multipart/form-data" method='POST'>
        <!--horizontal center by using bootstrap's grid alignment for rows-->
        <div class="row justify-content-center">

            <!--Dropdown Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="type" class="form-label fw-bold">Type:</label>
                </div>
                <div class="col-md-10">
                    <div class="dropdown">
                        <!--dropdown toggle-->
                        <button class="btn btn-success dropdown-toggle" type="button"
                         data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>

                         <!--dropdown options-->
                         <!--textbook/book is active since that is the current page-->
                         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <!-- <li><a class="dropdown-item active" href="/books/new" aria-current="true">Textbook/Book</a></li>
                            <li><a class="dropdown-item" href="/techs/new">Technology</a></li> -->
                            <li><a class="dropdown-item" href="#">Dorm Posting</a></li>
                         </ul>

                    </div>
                </div>

            </div>

            <!--Each input section is contained in a row-->
            <!--One col is for the label and the other col is for the input box-->
            <!--Title Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="title" class="form-label fw-bold">Title:</label>
                </div>
                <div class="col-md-10">
                    <input class="form-control inputBox text-dark border-0" type="text" id="title" name="title"
                        placeholder="Ex: Computer Organization and Design RISC-V Edition" required>
                </div>
            </div>

            <!--Author Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="author" class="form-label fw-bold">Author:</label>
                </div>
                <div class="col-md-10">
                    <input class="form-control inputBox text-dark border-0" type="text" id="author" name="author"
                        placeholder="Ex: David Patterson, John Hennessy" required>
                </div>

            </div>


            <!--ISBN Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="isbn" class="form-label fw-bold">ISBN:</label>
                </div>
                <div class="col-md-10 col-form-label">
                    <input class="form-control inputBox text-dark border-0" type="text" id="isbn" name="isbn"
                        placeholder="Ex: 9780128122761" required>
                </div>
            </div>


            <!--Condition Section-->
            <div class="row mb-4 w-75">
                <div class="col-lg-2 col-form-label">
                    <label for="condition" class="form-label fw-bold">Condition:</label>
                </div>
                <div class="col-lg-10">
                    <textarea class="form-control inputBox text-dark border-0" id="condition" name="condition"
                        placeholder="Ex: Pages 120-136 are missing, my dog ate them." required></textarea>
                </div>

            </div>

            <!--Price Section-->
            <div class="row mb-4 w-75">

                <div class="col-md-2 col-form-label">
                    <label for="price" class="form-label fw-bold">Price:</label>
                </div>

                <div class="col-md-10">
                    <input class="form-control inputBox text-dark border-0" type="text" id="price" name="price"
                        placeholder="Ex: 1,2,50,100" required></input>
                </div>

            </div>

            <!--Image Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="image" class="form-label fw-bold">Image:</label>
                </div>
                <div class="col-md-10">
                    <!--currently accepts any type of image, but this could change-->
                    <input class="form-control" type="file" id="image" name="image" accept="image/*">
                </div>
            </div>



            <!--Submit Button-->
            <div class="text-center">
                <input class="btn btn-success btn-lg" type="submit" value="Submit">
            </div>

        </div>


    </form>


</div>

<%- include('../partials/footer.ejs')%>