
	<%- include('./partials/header.ejs', {cs: 'about'})%>
	<main>

		<h1>Welcome to Premier League Fan Connections Site.</h1>
			<br>
		<p id="backgrount"><strong>Back Ground:</strong> This site has been created by Quang Ho programmer who have shared his interest of soccer to anyone else<br>	
			The main objective of this site is to open a fully free connection among soccer fans, and between soccer lovers and their favorite club.
		</p>
		
	</main>
	<%- include('./partials/footer.ejs')%>
	
	
	
</body>
</html>