
<%- include('./partials/header.ejs', {cs: 'err'})%>
	<main>
		
		<p id=stat> <%= error.status%> ERROR</p>
		<p id=msg> <%= error.message%></p>
	</main>
	<%- include('./partials/footer.ejs')%>
	
	
	
</body>
</html>