<%- include('../partials/header.ejs', {cs: 'new_textbook' })%>

    <!--Beginning of page-->
    <h2 class="text-center mt-5">NEW DOMICILE</h2>

    <div class="container my-5">

        <form class="rounded form m-3 p-3" action='/domiciles' enctype="multipart/form-data" method='POST'>
            <!--horizontal center by using bootstrap's grid alignment for rows-->
            <div class="row justify-content-center">

                <!--Dropdown Section-->
                <div class="row mb-4 w-75">
                    <div class="col-lg-2 col-form-label">
                        <label for="type" class="form-label fw-bold">Post Category:</label>
                    </div>
                    <div class="col-lg-10">
                        <div class="dropdown">
                            <!--dropdown toggle-->
                            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Options</button>

                            <!--dropdown options-->
                            <!--textbook/book is active since that is the current page-->
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/books/new">Textbook/Book</a></li>
                                <li><a class="dropdown-item" href="/techs/new">Technology</a></li>
                                <li><a class="dropdown-item active" href="/domiciles/new"
                                        aria-current="true">Dormicile</a></li>
                            </ul>

                        </div>
                    </div>

                </div>

                <!--Each input section is contained in a row-->
                <!--One col is for the label and the other col is for the input box-->
                <!--Title Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="title" class="form-label fw-bold">Title:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark border-0" type="text" id="title" name="title"
                            placeholder="Ex: Dorm Near Campus" required>
                    </div>
                </div>

                <!--Address Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="address" class="form-label fw-bold">Address:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark border-0" type="text" id="address" name="address"
                            placeholder="Ex: 9551 University Terrace Dr, Charlotte, NC 28262" required>
                    </div>
                </div>


                <!--Description Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="description" class="form-label fw-bold">Description:</label>
                    </div>
                    <div class="col-lg-10">
                        <textarea class="form-control inputBox text-dark border-0" id="description" name="description"
                            placeholder="Ex: Apartment is on the top floor and right next to Terrace road."
                            required></textarea>
                    </div>
                </div>

                <!--Select menu option-->
                <!--Menu option 1: Type-->
                <div class="row mb-4 w-75 text-break">

                    <div class="col-lg-2 col-form-label">
                        <label for="type" class="form-label fw-bold">Household Type:</label>
                    </div>

                    <div class="col-lg-2">
                        <select class="form-select" name="type" aria-label="--Select--" required>
                            <option selected value="">--Select--</option>
                            <option value="dorm">Dorm</option>
                            <option value="apartment">Apartment</option>
                            <option value="townhouse">Townhouse</option>
                        </select>
                    </div>
                    <!--Select menu option-->
                    <!--Menu option 2: Bed-->
                    <div class="col-lg-2 col-form-label">
                        <label for="bed" class="form-label fw-bold">Bed(s):</label>
                    </div>

                    <div class="col-lg-2">
                        <select class="form-select" name="bed" aria-label="--Select--" required>
                            <option selected value="">--Select--</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <!--Select menu option-->
                    <!--Menu option 3: Bath-->
                    <div class="col-lg-2 col-form-label">
                        <label for="bath" class="form-label fw-bold">Bath(s):</label>
                    </div>

                    <div class="col-lg-2">
                        <select class="form-select" name="bath" aria-label="--Select--" required>
                            <option selected value="">--Select--</option>
                            <option value="1">1</option>
                            <option value="1.5">1.5</option>
                            <option value="2">2</option>
                            <option value="2">2.5</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <!--End select menu option 3 Section-->
                <!--End of select menu option Section-->

                <!--Payment Plan Section-->
                <div class="row mb-4 w-75">

                    <div class="col-md-2 col-form-label">
                        <label for="payment" class="form-label fw-bold">Payment:</label>
                    </div>

                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark border-0" type="text" id="payment" name="payment"
                            placeholder="Ex: 1000 monthly" required></input>
                    </div>

                </div>

                <!--Phone Plan Section-->
                <div class="row mb-4 w-75">

                    <div class="col-md-2 col-form-label">
                        <label for="phone" class="form-label fw-bold">Phone:</label>
                    </div>

                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark border-0" type="text" id="phone" name="phone"
                            placeholder="Optional"></input>
                    </div>

                </div>

                <!--Email Plan Section-->
                <div class="row mb-4 w-75">

                    <div class="col-md-2 col-form-label">
                        <label for="email" class="form-label fw-bold">Email:</label>
                    </div>

                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark border-0" type="text" id="email" name="email"
                            placeholder="Optional"></input>
                    </div>

                </div>

                <!--Image Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="image" class="form-label fw-bold">Image:</label>
                    </div>
                    <div class="col-md-10">
                        <!--currently accepts any type of image, but this could change-->
                        <input class="form-control" type="file" id="image" name="image" accept="image/*">
                    </div>
                </div>



                <!--Submit Button-->
                <div class="text-center">
                    <input class="btn btn-success btn-lg" type="submit" value="Submit">
                </div>

            </div>


        </form>


    </div>
    <!-- End of page -->

    <%- include('../partials/footer.ejs')%>