/* .my-col {
    max-width: 80%;
} */

.bookTitle {
    font-style: italic;
}

.book-info {
    max-width: 60%;
}
/* .mainContainer {
    max-width: 80%;
} */

.imageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}