<%- include('./partials/header.ejs', {cs: 'homepage'})%>
	

<!--content area-->
<main>

    <!--section 1-->
            <div class=" container-fluid p-5 text-center firstBanner">
                <div>
        
                    <!--
                        col-md changes rows into columns by a certain screensize, d-flex and flex-column work to
                        present <h1> and <p> as columns and justify-content-center centers everything in space
                    -->
                    <div class=" p-2 d-flex justify-content-center text-white">
                        <div>
                            <h1 class="px-3">By Niners, For Niners</h1>
                            <p class="px-3">NinerUnite is the best peer-to-peer marketplace for UNC Charlotte students.</p>
                            <a class="btn nav-bar-btn-color m-3 " href="/users/signup" id="signup">Get Started Today</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        
            <!--section 2-->
            <div class="text-white p-5 text-center section2">
                
                    <div class="bannerText container text-wrap">
                        <div class="m-3 ">
                            <i class="fa solid fa-comments-dollar fs-3"></i>
                            <h1>Our Goal</h1>
                            <p>NinerUnite is all about give UNC Charlotte students a place to sell their textbooks, technology, or other items old or new.
                                As current students, we understand how difficult it can be to get rid of old materials we no longer use, so we aim to create a safe marketplace between fellow Niners.
                            </p>
                        </div>
                    </div>
            </div>
    
            <!--section 3-->
            <div class="container-fluid p-5 thirdBanner text-white">
    
    
                <div class="text-center m-5">
                    <h1>Already a member?</h1>
                    <a class="btn nav-bar-btn-color m-3 " href="/users/login" id="login">Login</a>
                </div>
    
            </div>
    
    </main>

    <%- include('./partials/footer.ejs')%>

    


