<%- include('./partials/header.ejs')%>

<main>

    <div class="container mt-5 mainContainer">
        <div class="row">

            <div class="col-lg-6 p-3 d-flex align-items-center justify-content-center">
                <div class="border">
                    <img class=" img-fluid w-75 imageCenter" src="/NinerUnite/FrontEnd/images/bookIconStockPhoto.jpeg" alt="bookIcon">
                </div>

            </div>
            <div class="col-lg-6 bg-secondary d-flex justify-content-center">
                <div class="p-3 m-3 bg-light text-wrap ">
                    <h2 class="bookTitle">Book Title</h2>
                    <h4>Book author</h3>
                    <hr>
                    <p>Seller: John Doe</p>
                    <p>Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ad sit dolores et consequuntur ducimus, laudantium nam ab nostrum debitis pariatur aliquid eum doloremque nisi labore hic repudiandae minus voluptatibus!
                    Aliquid nostrum aspernatur architecto sint facere veritatis ipsam recusandae excepturi, accusantium voluptate, optio ullam commodi nesciunt earum ipsa aut perferendis, nobis ea ex sequi laborum.</p>
                    <p>Condition: Good/Bad/Awful</p>
                </div>
            </div>

        </div>
    </div>

</main>

<%- include('./partials/footer.ejs')%>