<%- include('../partials/header.ejs', {cs: 'new_textbook'})%>

<!--Responsive form-->
<!--Beginning of page-->
<h2 class="text-center mt-5">NEW BOOK</h2>

<div class="container my-5">

    <form class="rounded form m-3 p-3" action='/books' enctype="multipart/form-data" method='POST'>
        <!--horizontal center by using bootstrap's grid alignment for rows-->
        <div class="row justify-content-center">

            <!--Dropdown Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="type" class="form-label fw-bold">Post Category:</label>
                </div>
                <div class="col-md-10">
                    <div class="dropdown">
                        <!--dropdown toggle-->
                        <button class="btn btn-success dropdown-toggle" type="button"
                         data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>

                         <!--dropdown options-->
                         <!--textbook/book is active since that is the current page-->
                         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item active" href="/books/new" aria-current="true">Textbook/Book</a></li>
                            <li><a class="dropdown-item" href="/techs/new">Technology</a></li>
                            <li><a class="dropdown-item" href="/domiciles/new">Domicile</a></li>
                         </ul>

                    </div>
                </div>

            </div>

            <!--Each input section is contained in a row-->
            <!--One col is for the label and the other col is for the input box-->
            <!--Title Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="title" class="form-label fw-bold">Title:</label>
                </div>
                <div class="col-md-10">
                    <input class="form-control inputBox text-dark border-0" type="text" id="title" name="title"
                        placeholder="Ex: Computer Organization and Design RISC-V Edition" required>
                </div>
            </div>

            <!--Author Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="author" class="form-label fw-bold">Author:</label>
                </div>
                <div class="col-md-10">
                    <input class="form-control inputBox text-dark border-0" type="text" id="author" name="author"
                        placeholder="Ex: David Patterson, John Hennessy" required>
                </div>

            </div>


            <!--ISBN Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="isbn" class="form-label fw-bold">ISBN:</label>
                </div>
                <div class="col-md-10 col-form-label">
                    <input class="form-control inputBox text-dark border-0" type="text" id="isbn" name="isbn"
                        placeholder="Ex: 9780128122761" required>
                </div>
            </div>


            <!--Condition Section-->
            <div class="row mb-4 w-75">
                <div class="col-lg-2 col-form-label">
                    <label for="condition" class="form-label fw-bold">Condition:</label>
                </div>
                <div class="col-lg-10">
                    <textarea class="form-control inputBox text-dark border-0" id="condition" name="condition"
                        placeholder="Ex: Pages 120-136 are missing, my dog ate them." required></textarea>
                </div>

            </div>

            <!--Price Section-->
            <div class="row mb-4 w-75">

                <div class="col-md-2 col-form-label">
                    <label for="price" class="form-label fw-bold">Price:</label>
                </div>

                <div class="col-md-10">
                    <input class="form-control inputBox text-dark border-0" type="text" id="price" name="price"
                        placeholder="Ex: 1,2,50,100" required></input>
                </div>

            </div>

            <!--Image Section-->
            <div class="row mb-4 w-75">
                <div class="col-md-2 col-form-label">
                    <label for="image" class="form-label fw-bold">Image:</label>
                </div>
                <div class="col-md-10">
                    <!--currently accepts any type of image, but this could change-->
                    <input class="form-control" type="file" id="image" name="image" accept="image/*">
                </div>
            </div>



            <!--Submit Button-->
            <div class="text-center">
                <input class="btn btn-success btn-lg" type="submit" value="Submit">
            </div>

        </div>


    </form>


</div>
<!-- End of Page -->

<%- include('../partials/footer.ejs')%>