<%- include('../partials/header.ejs', {cs: 'defaultstyle' })%>

    <!-- Primary Table for All Elements -->
    <div class="container flex-row w-50 text-center">
        <h3 class="fs-1 py-5 mb-5">Edit My Profile</h3>
        
    </div>



    <%- include('../partials/footer.ejs')%>