<%- include('../partials/header.ejs', {cs: 'defaultstyle'})%>
  
    
    <div class="container p-3">
        <h3>This is profile page</h3> 
        <h4>Our team includes: .......</h4>
        <p>Welcome to NinerUnite Website. Sell more used books to free your home space.</p>
        
    </div>

    <%- include('../partials/footer.ejs')%>