<footer>
    <div id="contact">
        <a href="/"><span>&copy;</span>Premier League Connections</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
    </div>	
     <div id="link_logos">
         <a href=""><img src="/images/facebook_icon.jpeg" id="f_icon" alt="Facebook Icon"></a>
         <a href=""><img src="/images/twitter_icon.jpeg" id="t_icon" alt="Facebook Icon"></a>
     </div>
</footer>