<%- include('../partials/header.ejs', {cs: 'new_default' })%>

    <!--Beginning of page -->

    <h2 class="fs-1 text-center mt-5 text-white">Store Selection</h2>

    <!-- Receiving the Request -->
    <div class="justify-content-center m-5 rounded form p-5">
        <!-- <form class="rounded form m-5 p-5" action='/books' method='POST'> -->
        <table>
            <tr>
                <!-- Change here -->
                <td class="pe-5">
                    <p><b>Type:</b></p>
                </td>
                <td><button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Store
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/NinerUnite/Sprint-2/views/textbook/new.ejs">Textbooks Store</a>
                        <a class="dropdown-item" href="/NinerUnite/Sprint-2/views/tech/new.ejs">Technology Store</a>
                        <a class="dropdown-item" href="#">Dorm Posting</a>
                    </div>
                </td>
            </tr>
        </table><br><br>
        <!-- <input class="btn position-absolute bottom-0 end-0 text-end bg-success green text-white border-0 green_hover" type="submit" value="Submit"> -->
        <!-- <div class="text-end">
                <input class="btn btn-success" type="submit" value="Submit">
            </div> -->
        <!-- </form> -->
    </div>
    <!-- End of page -->

    <%- include('../partials/footer.ejs')%>