<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Niner Unite</title>
</head>
<body>
    <header>
        <h1>NinerUnite</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/books">Books</a>
            <a href="/books/new">Create a new post</a>
        </nav>
    </header>