<%- include('../partials/header.ejs', {cs: 'payment' })%>

    <body class="transaction_page">
        <div class="container centered rounded text-center transaction w-50 border border-1 border-warning">
            <h1 class="fs-1 text-white p-3">Your purchase is successful!</h1>
        </div>
    </body>



    <%- include('../partials/footer.ejs')%>