<%- include('../partials/header.ejs', {cs: 'new_technology' })%>

    <!--Responsive tech form-->
    <!--Beginning of page-->
    <h2 class="text-center mt-5">NEW TECH</h2>

    <div class="container my-5">

        <form class="rounded form m-3 p-3" action='/techs' enctype="multipart/form-data" method='POST'>
            <!--horizontal center by using bootstrap's grid alignment for rows-->
            <div class="row justify-content-center">

                <!--Dropdown Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="type" class="form-label fw-bold">Post Category:</label>
                    </div>
                    <div class="col-md-10">
                        <div class="dropdown">
                            <!--dropdown toggle-->
                            <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Options</button>

                            <!--dropdown options-->
                            <!--Technology is active because that is the current page-->
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/books/new">Textbook/Book</a></li>
                                <li><a class="dropdown-item active" href="/techs/new" aria-current="true">Technology</a></li>
                                <li><a class="dropdown-item" href="/domiciles/new">Domicile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Rest of the form-->
                <!--Each input section is contained in a row-->
                <!--One col is for the label and the other col is for the input box-->
                <!--Name/Brand Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="brand" class="form-label fw-bold">Brand:</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-select" name="device" aria-label="--Select a Device--" required>
                            <option selected value="">--Select a Device--</option>
                            <option value="laptop">Laptop</option>
                            <option value="smartphone">Smartphone</option>
                            <option value="tablet">Tablet</option>
                            <option value="headphone">Headphone</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="title" class="form-label fw-bold">Title:</label>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark border-0" type="text" id="brand" name="brand"
                            placeholder="Ex: MacBook Pro13&quot;, Bose Headphones" required>
                    </div>
                </div>

                <!--Description Section-->
                <!--must have more than 10 characters according to model-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="description" class="form-label fw-bold">Description:</label>
                    </div>
                    <div class="col-md-10">
                        <textarea class="form-control inputBox text-dark border-0" type="text" id="description"
                            name="description" placeholder="Ex: Specs about the piece of technology" minlength="10"
                            required></textarea>
                    </div>

                </div>

                <!--Condition Section-->
                <div class="row mb-4 w-75">
                    <div class="col-lg-2 col-form-label">
                        <label for="condition" class="form-label fw-bold">Condition:</label>
                    </div>
                    <div class="col-lg-10">
                        <textarea class="form-control inputBox text-dark border-0" id="condition" name="condition"
                            placeholder="Ex: Burrito Juice Damage to Keyboard, Cracked Screen" required></textarea>
                    </div>

                </div>

                <!--Price Section-->
                <div class="row mb-4 w-75">

                    <div class="col-md-2 col-form-label">
                        <label for="price" class="form-label fw-bold">Price:</label>
                    </div>

                    <div class="col-md-10">
                        <input class="form-control inputBox text-dark border-0" type="text" id="price" name="price"
                            placeholder="Ex: 300, 250" required>
                    </div>

                </div>

                <!--Image Section-->
                <div class="row mb-4 w-75">
                    <div class="col-md-2 col-form-label">
                        <label for="image" class="form-label fw-bold">Image:</label>
                    </div>
                    <div class="col-md-10">
                        <!--currently accepts any type of image, but this could change-->
                        <input class="form-control" type="file" id="image" name="image" accept="image/*" multiple>
                    </div>
                </div>



                <!--Submit Button-->
                <div class="text-center">
                    <input class="btn btn-success btn-lg" type="submit" value="Submit">
                </div>

            </div>


        </form>


    </div>
<!-- End of Page -->

    <%- include('../partials/footer.ejs')%>