<!-- <%- include('../partials/header.ejs')%>
  
    
    <div>
        <h3>This is home page</h3> 
        <p>Welcome to NinerUnite Website. Sell more used books to free your home space.</p>
    </div>

    <%- include('../partials/footer.ejs')%> -->

include('./partials/header.ejs')%>

<main>
    <!-- About Us (short) -->
    <div>
        <h2>Welcome to our site, we sell stuff. Legal stuff...</h2>
    </div>

    <!-- Search bar -->
    <h3>Search UNCC for textbooks, technology, or dorms!</h3>
    <div>
        <input type="text" placeholder="Search..">
    </div>

    <!-- Dorm Highlights -->
    <h3>Dorm Highlights</h3>

    <!-- reference table, could be useful -->
    <table class="center">
        <tr>
            <th>Student</th>
            <th>On Campus?</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Jill Smith</td>
            <td>No</td>
            <td>$500</td>
        </tr>
        <tr>
            <td>Eve Jackson</td>
            <td>Yes</td>
            <td>$94</td>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>Homeless</td>
            <td>$1</td>
        </tr>
    </table>
    <!-- end table -->

    <!-- Display Textbooks -->
    <h3>Need a Book?</h3>

    <!-- Display Technology -->
    <h3>In the Market for a New Computer!</h3>

    <br>
</main>

<%- include('./partials/footer.ejs')%>