<%- include('../partials/header.ejs', {cs: 'homepage'})%>

    <main class="personal_space">
        <!-- Search bar -->
        <div class="text-center">
            <form action="/books/search" method="POST">
                <input class="p-3 mb-2 bg-light text-dark border-0 w-75 p-3" type="text"
                    placeholder="Author, Title, or ISBN" name="search">
                <button class="p-3 mb-2  green text-white text-dark border-0 green_hover" type="submit">Submit</button>
            </form>
        </div>
    
        <!-- About Us (short) -->
        <div>
            <h2>Useful information regarding the campus and this app</h2>
            <p>There was a recent forest fire in the Woodward building! No students were injured from the fire, but
                Smokey was not happy. Five residences nearby reported a bear started the fire with the assistance of two
                students.</p>
        </div>
    
        <!-- Dorm Highlights -->
        <h3>Dorm Highlights</h3>
        <!-- carousel -->
    
        <!-- reference table, could be useful -->
        <table class="center">
            <tr>
                <th>Student</th>
                <th>On Campus?</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Jill Smith</td>
                <td>No</td>
                <td>$500</td>
            </tr>
            <tr>
                <td>Eve Jackson</td>
                <td>Yes</td>
                <td>$94</td>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>Homeless</td>
                <td>$1</td>
            </tr>
        </table>
        <!-- end table -->
    
        <!-- Display Textbooks -->
        <h3>Need a Book?</h3>
    
        <!-- Display Technology -->
        <h3>In the Market for a New Computer!</h3>
    
        <br>
    </main>
    
    <%- include('../partials/footer.ejs')%>