<%- include('../partials/header.ejs')%>
<br>
    <form action="/users/login" method="POST" class="loginForm">
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" minlength="8" maxlength="64" required><br><br>
        <button>Login</button><br>
    </form>
<%- include('../partials/footer.ejs')%>
