
<!-- <br>
        
<form action="/users" method="POST" class="signUpForm">
        <label for="firstName">First Name</label><br>
        <input type="text" id="firstName" name="firstName" required><br><br>
        <label for="lastName">Last Name</label><br>
        <input type="text" id="lastName" name="lastName" required><br><br>
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required minlength="8" maxlength="64"><br><br>
        <button>Sign Up</button>
</form> -->

<!--special header for login and signup-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--font for brand name-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <title>NinerUnite</title>
   </head>

   <body>
        <header>
         <div class="p-1">
                <a class="headerLink navbar-brand fs-1" href="/">NinerUnite</a>
        </div>
        </header>

        <!--message display is error occurs-->
        <%if(errorMessages.length> 0) {
                errorMessages.forEach(message => {%>
                <div class="p-3 m-3 bg-danger-subtle border-danger border" >
                    <%= message%>
                </div>
                <%}); }%>
        <%if(successMessages.length> 0) {
                successMessages.forEach(message => {%>
                <div class="p-3 m-3 bg-success">
                        <%= message%>
                </div>
                <%}); }%>
      
          <div class="form-container">
            <div class="forms">
              <div class="form-content">     
              <div class="signup-form">
                <div class="title">Sign Up</div>
              <form action="/users" method="POST">
                  <div class="fields">
                    <div class="user-input">
                      <i class="fas fa-user"></i>
                      <input type="text" id="firstName" name="firstName" placeholder="First name" required>
                    </div>
                    <div class="user-input">
                      <i class="fas fa-user"></i>
                      <input type="text" id="lastName" name="lastName" placeholder="Last name" required>
                    </div>
                    <div class="user-input">
                      <i class="fas fa-envelope"></i>
                      <input type="text" id="email" name="email" placeholder="Email Address" required>
                    </div>
                    <div class="user-input">
                      <i class="fas fa-lock"></i>
                      <input type="password" id="password" name="password" minlength="8" maxlength="64" placeholder="Password" required>
                    </div>
                    <div class="user-input">
                      <i class="fas fa-lock"></i>
                      <input type="password" id="cfpassword" name="cfpassword" minlength="8" maxlength="64" placeholder="Confirm your password" required>
                    </div>
                    <div class="signup-button user-input">
                      <input type="submit" value="Sign Up">
                    </div>
                    <div class="text sign-up-text">Already have an account? <label><a href="/users/login">Login now</a></label></div>
                  </div>
            </form>
          </div>
          </div>
          </div>
        </div>

<!--special footer for login and signup-->
<!-- bootstrap javascript and popper -->
<!-- popper is a tooltip positioner-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
