.selectRow:hover {
    background-color: rgba(0, 0, 168, 0.05);
    
}

.selectRow, td, a {
    text-decoration: none;
    color: black;
}

/*name of product underlines when selected*/
.productName:hover {
    text-decoration: underline;

}


/* submit button styles*/

button[class="btn btn-primary btn-lg btn-block"] {
    background-color: #928403;
    border: none;
}

button[class="btn btn-primary btn-lg btn-block"]:hover {
    background-color: #cebb16;
}

/*on screens that are smaller than 500 pixels, make table scrollable*/
@media (max-width: 500px) {
    .tableScroll {
        display: block;
        overflow: scroll;
    }
}
