
.postTitle {
    font-style: italic;
}

.book-info {
    max-width: 60%;
}

.imageCenter {
    width: 500px;
    height:450px;
    margin: auto;
}


.imageBox {

    width: 75%;
}

.imageInBox{
    width: 100%;
    /* height: 50%; */
    object-fit: cover;
}
