/*html, body and footer help keep the footer at the bottom of the page */
html{
    height: 100%;
}

body{
    min-height: 100%;
}


footer {
    position: sticky;
    top: 100%;
    width: 100%;
}

.footerStyle {
    background-color: #101820;
}

/* nav-bar styles */

.navbar-color {
    background-color:#005035;
}

.brand-font {
    font-family: 'Bebas Neue', cursive;
}

/* error message styles */

