.firstBanner{

    /*linear gradient will go from one color to the other and apply it to the background image*/
    background-image: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0.05)), url(../images/other/image5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    /* z-index: -1; */
   
}


.thirdBanner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/other/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
   
   
}



.section2{
    background-image: linear-gradient(to right, #A49665, #802F2D);
    
}