<%- include('../partials/header.ejs', {cs: 'listStyle'})%>




    <div class="container p-3">
        <h1>Tech List</h1>
        <br>
        <%if(techs.length){ %>

            <table class="table">
                <tr>
                    <th scope="col">Tech Brand</th>

                </tr>

            <tbody>
            <%techs.forEach(tech=>{%>
                <tr>
                    <td><a href="/books/<%=tech.id%>"><p><%= tech.title %></p></a></td>
                </tr>
            <% }); %>

            </tbody>
            </table>
            
            <%} else {%>
            <h2>There are no products to display</h2>
        <%} %>
    </div>

<%- include('../partials/footer.ejs')%>